html, body {
	background-image: linear-gradient(to bottom, red, yellow);
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 2w0vw;
	background-color:red;
}

p {
	border: solid;
	margin:0px;
	background-color: darkorchid;
	min-height:200px;
	border-radius: 25px;
	padding:25px;
}

img {
	width:50%;
}

#content {
	width:100vw;
	display: flex;
	flex-wrap:wrap;

}

